{% extends "base_dashboard.html" %}

{% block content %}
  <h1>Question List</h1>
  <p>
  <ul>
    {% for question in page_obj %}
      <li>
        <ul>Id: {{ question.id }} </ul>
        <ul>Question: {{ question.question }}</ul>
        <ul>Answer: {{ question.answer }}</ul>
        <ul>Created_at: {{ question.created_at }}</ul>
      </li>
    {% empty %}
      <li>There are no questions in the database.</li>
    {% endfor %}
  </ul>
  </p>


  <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
{% endblock %}