{% extends "base_dashboard3.html" %}

{% block title %}{{ settings.APP_NAME }}{% endblock %}

{% block content %}
<div class="pagetitle">
  <h1>Sales Data Analysis v0.3 with GPT-3.5/GPT-4</h1>
  <h5>The sales data analysis tool will allow you to analyze your sales data using NLP technologies.</h5>
</div><!-- End Page Title -->


<section class="section">

  <div class="col-lg-12">

    <div class="card">
      <div class="card-body">

        <!-- <h5 class="card-title">Input your questions here</h5> -->
        <form method="post" action="{% url 'example3:ask_question' %}">
            {% csrf_token %}
            <h5 class="card-title">Select Model</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="model_selected" id="choice1" value="gpt-3.5-turbo" checked>
              <label class="form-check-label" for="choice1">
                gpt-3.5-turbo
              </label>
            </div>
            
            <div class="form-check">
              <input class="form-check-input" type="radio" name="model_selected" id="choice2" value="gpt-4">
              <label class="form-check-label" for="choice2">
                gpt-4
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="model_selected" id="choice3" value="gpt-4-32k" disabled>
              <label class="form-check-label" for="choice3">
                gpt-4-32k (coming soon)
              </label>
            </div>
            
            <h5 class="card-title">Select Temperature</h5>
            <select class="form-select" name="temperature_selected" id="dropdown_value">
              <option value="0.0">0.0</option>
              <option value="0.1">0.1</option>
              <option value="0.2" selected>0.2</option>
              <option value="0.3">0.3</option>
              <option value="0.4">0.4</option>
              <option value="0.5">0.5</option>
              <option value="0.6">0.6</option>
              <option value="0.7">0.7</option>
              <option value="0.8">0.8</option>
              <option value="0.9">0.9</option>
              <option value="1.0">1.0</option>
            </select>

            <h5 class="card-title">Input your questions here</h5>
            {% csrf_token %}
            <textarea class="form-control" id="question" name="question_text" rows="3" required></textarea>
            <br>
            <input type="submit" class="btn btn-primary" value="Submit My Question">
        </form>
      </div>
    </div>
  </div>


  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">Current Result</div>
      <div class="card-body">       
        {% if question_text %}
          <h5 class="card-title">Question was:</h5>
          <p>{{ question_text }}</p>
        {% endif %}
        {% if answer_text %}
          <h5 class="card-title">Answer:</h5>
          <p>{{ answer_text }}</p>
        {% endif %}


        {% if answer_text and not "__irrelevant__" in answer_text|lower %}
            <form method="post" action="{% url 'example3:accept_answer' %}">
                {% csrf_token %}
                <button class="btn btn-primary" value="yes">Looks good, please proceed.</button>
                <button class="btn btn-secondary" value="no" id="no-button">Not good, I’d like to add comments.</button>
            </form>
            <br>
            <form method="post" action="{% url 'example3:add_comment' %}" id="comment-form" style="display: none;">
                {% csrf_token %}
                <textarea class="form-control" id="comment-text" name="comment_text" rows="3" required></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Submit My Comment</button>
            </form>
            <script>
                document.getElementById('no-button').addEventListener('click', function(event) {
                    event.preventDefault();  // prevent the default form submission
                    document.getElementById('comment-form').style.display = 'block';
                });
            </script>
        {% endif %}
        
        <!-- {% if status_code == 0 %} -->
          <div class="thumbs text-center">
            <i class="fa-regular fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
            <i class="fa-regular fa-thumbs-down fa-3x"></i>
          </div>
        <!-- {% endif %} -->

      </div>
    </div>
  </div>


  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">Data preview</div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr style="text-align: left;">
              <th style="padding: 10px;"></th>
              <th style="padding: 10px;">InvoiceNo</th>
              <th style="padding: 10px;">StockCode</th>
              <th style="padding: 10px;">Description</th>
              <th style="padding: 10px;">Quantity</th>
              <th style="padding: 10px;">InvoiceDate</th>
              <th style="padding: 10px;">UnitPrice</th>
              <th style="padding: 10px;">CustomerID</th>
              <th style="padding: 10px;">Store</th>
              <th style="padding: 10px;">CustomerName</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th style="padding: 10px;">0</th>
              <td style="padding: 10px;">536365</td>
              <td style="padding: 10px;">85123A</td>
              <td style="padding: 10px;">WHITE HANGING HEART T-LIGHT HOLDER</td>
              <td style="padding: 10px;">6</td>
              <td style="padding: 10px;">12/01/2020</td>
              <td style="padding: 10px;">2.55</td>
              <td style="padding: 10px;">17850</td>
              <td style="padding: 10px;">Tampa</td>
              <td style="padding: 10px;">Emma</td>
            </tr>
            <tr>
              <th style="padding: 10px;">1</th>
              <td style="padding: 10px;">536365</td>
              <td style="padding: 10px;">71053</td>
              <td style="padding: 10px;">WHITE METAL LANTERN</td>
              <td style="padding: 10px;">6</td>
              <td style="padding: 10px;">12/01/2020</td>
              <td style="padding: 10px;">3.39</td>
              <td style="padding: 10px;">17850</td>
              <td style="padding: 10px;">Tampa</td>
              <td style="padding: 10px;">Emma</td>
            </tr>
            <tr>
              <th style="padding: 10px;">2</th>
              <td style="padding: 10px;">536365</td>
              <td style="padding: 10px;">84406B</td>
              <td style="padding: 10px;">CREAM CUPID HEARTS COAT HANGER</td>
              <td style="padding: 10px;">8</td>
              <td style="padding: 10px;">12/01/2020</td>
              <td style="padding: 10px;">2.75</td>
              <td style="padding: 10px;">17850</td>
              <td style="padding: 10px;">Tampa</td>
              <td style="padding: 10px;">Emma</td>
            </tr>
            <tr>
              <th style="padding: 10px;">3</th>
              <td style="padding: 10px;">536365</td>
              <td style="padding: 10px;">84029G</td>
              <td style="padding: 10px;">KNITTED UNION FLAG HOT WATER BOTTLE</td>
              <td style="padding: 10px;">6</td>
              <td style="padding: 10px;">12/01/2020</td>
              <td style="padding: 10px;">3.39</td>
              <td style="padding: 10px;">17850</td>
              <td style="padding: 10px;">Tampa</td>
              <td style="padding: 10px;">Emma</td>
            </tr>
            <tr>
              <th style="padding: 10px;">4</th>
              <td style="padding: 10px;">536365</td>
              <td style="padding: 10px;">84029E</td>
              <td style="padding: 10px;">RED WOOLLY HOTTIE WHITE HEART.</td>
              <td style="padding: 10px;">6</td>
              <td style="padding: 10px;">12/01/2020</td>
              <td style="padding: 10px;">3.39</td>
              <td style="padding: 10px;">17850</td>
              <td style="padding: 10px;">Tampa</td>
              <td style="padding: 10px;">Emma</td>
            </tr>
            <tr>
              <th style="padding: 10px;">5</th>
              <td style="padding: 10px;">536365</td>
              <td style="padding: 10px;">22752</td>
              <td style="padding: 10px;">SET 7 BABUSHKA NESTING BOXES</td>
              <td style="padding: 10px;">2</td>
              <td style="padding: 10px;">12/01/2020</td>
              <td style="padding: 10px;">7.65</td>
              <td style="padding: 10px;">17850</td>
              <td style="padding: 10px;">Tampa</td>
              <td style="padding: 10px;">Emma</td>
            </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}