{% extends "base_dashboard3.html" %}

{% block title %}{{ settings.APP_NAME }}{% endblock %}

{% block content %}
<div class="pagetitle">
  <h1>Query Records</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Pages</li>
      <li class="breadcrumb-item active">Blank</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

    <h2>Questions</h2>
    <ul>
        {% for question in questions %}
            <li>
                <h3>{{ question.question_text }}</h3>
                <ul>
                    {% for comment in question.comments.all %}
                        <li>{{ comment.comment_text }}</li>
                    {% empty %}
                        <li>No comments.</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No questions available.</li>
        {% endfor %}
    </ul>
{% endblock content %}